body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .calculator {
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.5);
  }
  
  .calculator input {
    width: 92%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #ffd3de;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d0d0d0;
  }
  